<%- include("partials/header.ejs") %>

<div class="page-intro">
  <h1>Error</h1>
  <p><%= message %></p>
</div>

<a href="/" class="cancel-link">Back To Home</a>

<%- include("partials/footer.ejs") %>
