<%- include("partials/header.ejs") %>

<h1>Log In</h1>

<% if (errors.length > 0) { %>
  <ul class="form-errors">
    <% errors.forEach(error => { %>
      <li><%= error %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/login" method="POST" class="login-form">
  <label for="email">Email</label>
  <input 
    id="email"
    name="email"
    type="email"
    value="<%= formData.email || '' %>"
    required
  />

  <label for="password">Password</label>
  <input id="password" name="password" type="password" required />

  <button type="submit">Log In</button>
</form>

<%- include("partials/footer.ejs") %>